.container{
    width: 100%;
    background-color: #F0F0F0;
    height: auto;
  
    }
    
    .maininner{
        width: 95%;
     
        height: auto;
        margin: auto;
 
        margin-top: 30px;
        justify-content: space-between;
    }

    .individiv{
        display: flex;
    }

    .individiv h1 span{
        color: green;
        font-size: 20px;
    }
    .progress{
        margin-top: 30px;
        width: 100%;
        margin-bottom: 10px;
    
    }
   