.container {
    width: 100%;
    background-color: white;
    height: auto;
    margin-right: 30px;
    margin-left: 10px;
  }
  .innercontainer {

  
    height: auto;
    margin: auto;
    margin-left: 40px;
    margin-top: 20px;
  }

  .imagediv{
    display: flex;
    width: 70%;
   
  }
.imagediv div img{
    width: 25%;


}

.innercontainer h4{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color:rgba(1, 3, 4, 0.55);
    font-size: 14px;
   
    font-style: normal;
}
.innercontainer h2{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color:rgba(1, 3, 4, 0.55);
    font-size: 14px;
   
    font-style: normal;
}