.sidecontainer {
  width: 30%;

  height: auto;
}
.text h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
}
.logo img {
  width: 30px;
  height: 30px;
}
.logo {
  width: 15%;
}
.div1 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  height: 60px;
  align-items: center;
}
.div1:hover {
  background-color: #c1c1c1c1;
}
.div1:focus {
  background-color: #c1c1c1c1;
}
.text {
  width: 55%;
  box-sizing: border-box;
}

.decorated:hover {
  background-color: red;
}

option:hover {
  background-color: #000000;
}

@media screen and (max-width: 940px) {
  .sidecontainer {
    width: 40%;

    height: auto;
  }
}

@media screen and (max-width: 540px) {
  .sidecontainer {
    width: 55%;

    height: auto;
  }
}

@media screen and (max-width: 340px) {
  .sidecontainer {
    width: 70%;

    height: auto;
  }
}
