.sidebar {
  background: #f0f0f0;
  color: #333;
  width: 300px;
  transition: all 0.5s;
}
main {
  width: 100%;
  padding: 20px;
}
.container {
  display: flex;
}
.link {
  display: flex;
  padding: 10px 15px;
  gap: 15px;
  color: #333;
  align-items: center;
  margin: 5px 0;
}
.link:hover {
  color: #333;
  border: 1px solid black;
  cursor: pointer;
}
.active {
  background: #cecece;
  color: #333;
}
.icon,
.link_text {
  font-size: 20px;
}
